@page "/counter"
@using Blazored.Toast.Services
@using models
@inject IToastService toastService

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

@* <button class="btn btn-primary" @onclick="IncrementCount">Click me</button> *@
<button class="btn btn-primary" @onclick="TestToast">Click me to Toast</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        TestModel testModel = new TestModel();
        testModel.Id = 1;
        testModel.Name = "pero pendejo";
        currentCount++;
    }

    private void TestToast()
    {
        toastService.ShowSuccess("¡Has llegado a 5!");
    }
}
